*.data
*.xpi
*.js.map
firefox/lib/*.js
firefox/data/metrics-integration/*.js
firefox/data/metrics-integration/*/*.js
firefox/data/metrics-integration/components/*.js
twitter-assistant-content.js

node_modules

npm-debug.log

notes.md
prefs.json
prefs-no-cred.json