*.data
*.xpi
*.js.map
firefox/lib/*.js
firefox/data/metrics-integration/*.js
firefox/data/metrics-integration/*/*.js
firefox/data/metrics-integration/components/*.js
twitter-assistant-content.js
server/*.js
server/*.json

node_modules

npm-debug.log

notes.md