/* ------------------------------------------------------------------
   Imports
   ------------------------------------------------------------------ */
/* ------------------------------------------------------------------
   Variables
   ------------------------------------------------------------------ */
/* ------------------------------------------------------------------
   Twitter Assistant
   ------------------------------------------------------------------ */
.TA-main-container * {
  box-sizing: border-box;
}
.TA-main-container .TA-trigger {
  cursor: pointer;
}
.TA-main-container .TA-section-title {
  margin: 1.5em 0 .5em;
  font-size: 13px;
  color: #292f33;
  font-weight: bold;
}
.TA-main-container .TA-graduation {
  font-weight: bold;
  cursor: ew-resize;
}
.TA-main-container .TA-histogram {
  display: flex;
  height: 100px;
  flex-flow: row nowrap;
  align-items: stretch;
}
.TA-main-container .TA-histogram .TA-bar {
  display: flex;
  height: 100%;
  overflow: visible;
  flex: 1;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: stretch;
}
.TA-main-container .TA-histogram .TA-bar[data-value] {
  position: relative;
  z-index: 0;
}
.TA-main-container .TA-histogram .TA-bar[data-value]::after {
  position: absolute;
  top: calc(100% + .3em);
  left: 50%;
  padding: .1em .2em;
  transform: translateX(-50%);
  opacity: 0;
  content: attr(data-value);
}
.TA-main-container .TA-histogram .TA-bar[data-value]:hover {
  z-index: 1;
  box-shadow: 0 0 0 1px #292f33;
}
.TA-main-container .TA-histogram .TA-bar[data-value]:hover::after {
  opacity: 1;
}
.TA-main-container .TA-activity .TA-bar[data-value]::after {
  background: #e5eaeb;
  font-size: 10px;
  color: #292f33;
}
.TA-main-container .TA-tweets {
  background: #e5eaeb;
}
.TA-main-container .TA-links {
  background: #ffb463;
}
.TA-main-container .TA-medias {
  background: #ffed56;
}
.TA-main-container .TA-replies {
  background: #6cefda;
}
.TA-main-container .TA-retweets {
  background: #58a5ce;
}
.TA-main-container .TA-period {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
}
.TA-main-container .TA-period-from,
.TA-main-container .TA-period-to {
  flex: 1;
  font-size: 13px;
  color: #8899a6;
}
.TA-main-container .TA-period-from {
  text-align: left;
}
.TA-main-container .TA-period-to {
  text-align: right;
}
.TA-main-container .TA-composition {
  display: flex;
  width: 100%;
  height: 20px;
  flex-flow: row nowrap;
  align-items: stretch;
}
.TA-main-container .TA-composition div {
  position: relative;
  display: flex;
  overflow: hidden;
}
.TA-main-container .TA-composition div::before {
  margin: auto;
  color: #ffffff;
}
.TA-main-container .TA-composition .TA-tweets::before {
  content: "\f029";
}
.TA-main-container .TA-composition .TA-links::before {
  content: "\f098";
}
.TA-main-container .TA-composition .TA-medias::before {
  content: "\f027";
}
.TA-main-container .TA-composition .TA-replies::before {
  content: "\f151";
}
.TA-main-container .TA-composition .TA-retweets::before {
  content: "\f152";
}
.TA-main-container .TA-composition-details {
  max-height: 0;
  margin: 0 -15px;
  overflow: hidden;
  opacity: 0;
  transition: all .3s ease-in-out;
}
.TA-main-container .TA-composition-details.TA-active {
  max-height: 530px;
  padding-top: 1em;
  opacity: 1;
}
.TA-main-container .TA-composition-details-inner {
  position: relative;
  padding: 5px 15px;
  margin: 0;
  border: solid #e1e8ed;
  border-width: 1px 0;
  list-style: none;
}
.TA-main-container .TA-composition-details-inner::before {
  position: absolute;
  top: -6px;
  left: 15px;
  width: 10px;
  height: 10px;
  border: solid #d1dce3;
  border-width: 1px 0 0 1px;
  background: #ffffff;
  content: "";
  transform: rotate(45deg);
}
.TA-main-container .TA-account {
  position: relative;
  min-height: 35px;
  margin: 10px 0;
}
.TA-main-container .TA-account .TA-account-count {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  background: #e5eaeb;
}
.TA-main-container .TA-account .TA-account-count::before {
  position: absolute;
  bottom: 0;
  right: 2px;
  font-size: 14px;
  color: #8899a6;
  content: attr(data-count);
}
.TA-main-container .TA-account .TA-account-inner {
  position: relative;
  z-index: 1;
}
.TA-main-container .TA-account .TA-account-content {
  margin-left: 45px;
}
.TA-main-container .TA-account .TA-avatar {
  width: 35px;
  height: 35px;
}
.TA-main-container .TA-account .TA-fullname,
.TA-main-container .TA-account .TA-username {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.TA-main-container .TA-account:nth-child(n + 5) {
  display: inline-block;
  min-height: initial;
  margin: 5px 2px 5px 0;
  color: #8899a6;
  text-decoration: none;
  vertical-align: top;
}
.TA-main-container .TA-account:nth-child(n + 5):hover .TA-account-count, .TA-main-container .TA-account:nth-child(n + 5):focus .TA-account-count {
  text-decoration: underline;
}
.TA-main-container .TA-account:nth-child(n + 5) .TA-account-count {
  top: auto;
  left: 0;
  width: auto !important;
  overflow: hidden;
  background: none;
  line-height: 1;
  text-align: right;
}
.TA-main-container .TA-account:nth-child(n + 5) .TA-account-count::before {
  position: static;
}
.TA-main-container .TA-account:nth-child(n + 5) .TA-account-content {
  margin: 0;
}
.TA-main-container .TA-account:nth-child(n + 5) .TA-account-group {
  padding-right: 18px;
}
.TA-main-container .TA-account:nth-child(n + 5) .TA-avatar {
  position: static;
  display: block;
  width: 20px;
  height: 20px;
}
.TA-main-container .TA-account:nth-child(n + 5) .TA-account-group-inner {
  display: none;
}
.TA-main-container .TA-account:last-child {
  margin-bottom: 10px;
}
.TA-main-container .TA-engagement {
  display: flex;
  width: 100%;
  height: 40px;
  flex-flow: column nowrap;
  align-items: stretch;
  background: #e5eaeb;
}
.TA-main-container .TA-engagement .TA-rt,
.TA-main-container .TA-engagement .TA-fav {
  flex: 1;
  display: flex;
  overflow: hidden;
  background: #52e08b;
}
.TA-main-container .TA-engagement .TA-rt::before,
.TA-main-container .TA-engagement .TA-fav::before {
  margin: auto auto auto 2px;
  color: #ffffff;
}
.TA-main-container .TA-engagement .TA-rt::before {
  content: "\f152";
}
.TA-main-container .TA-engagement .TA-fav::before {
  content: "\f147";
}
.TA-main-container .TA-language {
  display: flex;
  width: 100%;
  height: 20px;
  flex-flow: row nowrap;
  align-items: stretch;
  background: #e5eaeb;
}
.TA-main-container .TA-language div {
  padding-left: 2px;
  background: #52e08b;
  line-height: 20px;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
}
.TA-main-container .TA-language div:nth-child(even) {
  background: #1fad58;
}
.TA-main-container .TA-reminder {
  margin: 1em -15px 0;
  padding: 15px 15px 0;
  border-top: 1px solid #e1e8ed;
  color: #8899a6;
}

/*# sourceMappingURL=main.css.map */
