/*
    Containers
*/
.twitter-assistant-container, .twitter-assistant-container *{
    box-sizing: border-box;
}

.twitter-assistant-container{
    margin-bottom: auto;
    margin-top: 10px;
    
    width: 100%; /* hopefully, the parent isn't a douchebag */

}

.twitter-assistant{

    min-height: 300px;
    width: 100%;
    max-width: 300px;
    
    padding: 1em;

    background-color: hsl(300, 45%, 78%);
    border-radius: 6px;

}

/*
    General styles
*/
.twitter-assistant h1{
    text-align: center;
    margin: 0;

    font-size: 24px;
}

.twitter-assistant h2{
    margin: 0;
    padding: 0;
    
    color: hsl(205, 11%, 25%);
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
}


.twitter-assistant footer{
    margin-top: 1em;
    padding: 0.5em;
    color: #8b6114;
    background-color: hsla(210, 56%, 82%, 0.5);
}

.twitter-assistant h3, .twitter-assistant h4{
    margin: 7px 0;
    margin-top: 20px;
}

/*
    Metrics groups
*/
.twitter-assistant .all-metrics{
    display: table;
    border-collapse: collapse;
    width: 100%;
}
.twitter-assistant .all-metrics .metrics{
    display: table-row;
    height: 20px;
}
.twitter-assistant .all-metrics .metrics > *{
    display: table-cell;
    padding: 0;
    vertical-align: middle;
}

.twitter-assistant .all-metrics .metrics > .name{
    padding-right: 4px;
    white-space: nowrap;
}
.twitter-assistant .all-metrics .metrics > .value{
    text-align: right;
}

.twitter-assistant .fraction-container{
    width: 100%;
    border: 1px solid grey;
    height: 100%;
}

.twitter-assistant .fraction-container .value {
    background-color: rgba(255,255,255,0.5);
    height: 100%;
    display: inline-block;
    vertical-align: top;
}
.twitter-assistant .fraction-container .value::before {
    color: hsla(0, 0%, 100%, 0.33);
    
    /* equivalent to the Icon class */
    font-family: "rosettaicons";
    font-weight: normal;
    font-style: normal;
    text-align: center;
    overflow: hidden;
    display: block;
    
    margin: 0 auto;
}


.twitter-assistant .fraction-container .value.retweets {
    background-color: hsl(97, 50%, 30%); /* handpicked from Twitter with devtools */
}
.twitter-assistant .fraction-container .value.retweets::before{
    content: "";
}


.twitter-assistant .fraction-container .value.conversations {
    background-color: hsl(226, 50%, 30%); 
}
.twitter-assistant .fraction-container .value.conversations::before{
    content: "";
}


.twitter-assistant .fraction-container .value.media {
    background-color: hsl(21, 50%, 30%); /* handpicked from Twitter with devtools */
}
.twitter-assistant .fraction-container .value.media::before{
    content: "";
}

.twitter-assistant .fraction-container .value.links {
    background-color: hsl(286, 50%, 30%); 
}
.twitter-assistant .fraction-container .value.links::before{
    content: "";
}


/* definitely need variables here */
.twitter-assistant .fraction-container.x0-1{
    background-color: transparent;
}
.twitter-assistant .fraction-container.x0-1 .value{
    background-color: rgba(255,255,255,0.5);
}

.twitter-assistant .fraction-container.x1-2{
    background-color: rgba(255,255,255,0.5);
}
.twitter-assistant .fraction-container.x1-2 .value{
    background-color: yellow;
}

.twitter-assistant .fraction-container.x2-3{
    background-color: yellow;
}
.twitter-assistant .fraction-container.x2-3 .value{
    background-color: orange;
}

.twitter-assistant .fraction-container.x3-4{
    background-color: orange;
}
.twitter-assistant .fraction-container.x3-4 .value{
    background-color: red;
}

.twitter-assistant .fraction-container.x4-5{
    background-color: red;
}
.twitter-assistant .fraction-container.x4-5 .value{
    background-color: purple;
}

.twitter-assistant .fraction-container.x5-6{
    background-color: purple;
}
.twitter-assistant .fraction-container.x5-6 .value{
    background-color: black;
}



/*
    Histogram
*/
.twitter-assistant .histo-range{
    display : flex;
    align-items: flex-end;
    height: 100px;
    width: 100%;
}

.twitter-assistant .histo-range > *{
    height: 50%;
    flex-grow: 1;
    border: 1px solid grey;
    background-color: rgba(255,255,255,0.5);
}
.twitter-assistant .legend{
    display : flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.twitter-assistant .most-used-words > *{
    display: inline-block;
    padding: 2px;
    border-radius: 4px;
    border: 1px solid grey;
    background-color: rgba(255,255,255,0.5);
}