/* ------------------------------------------------------------------
   Variables
   ------------------------------------------------------------------ */

$plugin-name           : "TA";

// From Twitter UI
$default-color         : #292f33;
$lighter-color         : #8899a6;
$border-color          : #e1e8ed;
$frame-bg-color        : #ffffff;

$default-font-size     : 13px;
$frame-padding         : 15px;


// Plugin UI assignment
$icons-color           : #ffffff;

$retweets-color        : #58a5ce;
$replies-color         : #6cefda;
$medias-color          : #ffed56;
$links-color           : #ffb463;
$tweets-color          : #e5eaeb;

$fg-color              : #52e08b;
$bg-color              : #e5eaeb;

$histogram-height      : 100px;
$composition-height    : 20px;
